<footer class='row'>
  <div class='col-sm-6'>
    <p>Created by <a href='https://maxrumsey.xyz'>Max Rumsey</a></p>
    <ul>
      <li>Powered by the <a href='https://npmjs.org/package/transperthapi'>TransPerth API Package (npm)</a></li>
    </ul>
    <ul>
      <li><a href='https://github.com/maxrumsey/TransPerthAPISite'>Source Code (github)</a></li>
    </ul>
    <ul>
      <li>(c) 2018 Max Rumsey</li>
    </ul>
  </div>
  <div class='col-sm-6'>
    <p>The Unofficial TransPerth API is in no way affiliated with TransPerth or endorsed by them</p>
  </div>
</footer>
