<html>
  <head>
    <%- include('_header'); %>
    <title>TransPerth API</title>
  </head>
  <body>
    <%- include('_navbar'); %>
    <header>
      <img id='banner-image' src='/static/img/background.jpg' class='img-fluid'></img>
      <h1 class='centered'>Unofficial TransPerth API</h1>
    </header>
    <h2 style='text-align: center; padding: 50px;'>TBA</h2>
    <%- include('_footer'); %>
  </body>
</html>
