<html>
  <head>
    <%- include('_header'); %>
    <title>TransPerth API</title>
  </head>
  <body>
    <%- include('_navbar'); %>
    <header>
      <img id='banner-image' src='/static/img/background.jpg' class='img-fluid'></img>
      <h1 class='centered'>Unofficial TransPerth API</h1>
    </header>
    <div class='spacer card-group' id='card-holder'>
      <div class="card" style="width: 18rem;">
        <img src="/static/img/smartrider.jpg" class="card-img-top" alt="SmartRider">
          <div class="card-body">
            <h5 class="card-title">SmartRider Lookup</h5>
            <p class="card-text">Look up a SmartRider to reveal the balance, concession information as well as autoload information.</p>
            <a href="/calc/smartrider" class="btn btn-primary">Go To SmartRider Lookup</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/img/train.JPG" class="card-img-top" alt="Train">
          <div class="card-body">
            <h5 class="card-title">Train Lookup</h5>
            <p class="card-text">Look up at what time the next train is scheduled to arrive at a train station.</p>
            <a href="/calc/smartrider" class="btn btn-primary">Go To Train Lookup</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/img/bus.jpg" class="card-img-top" alt="Bus">
          <div class="card-body">
            <h5 class="card-title">Bus Lookup</h5>
            <p class="card-text">Find out information about any buses scheduled to arrive at a bus stop.</p>
            <a href="/calc/smartrider" class="btn btn-primary">Go To Bus Lookup</a>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/img/ferry.jpg" class="card-img-top" alt="Ferry">
          <div class="card-body">
            <h5 class="card-title">Ferry Lookup</h5>
            <p class="card-text">Find out information about any ferries scheduled to arrive at a wharf.</p>
            <a href="/calc/smartrider" class="btn btn-primary">Go To Ferry Lookup</a>
          </div>
      </div>
    </div>
    <div>

    </div>
    <%- include('_footer'); %>
  </body>
</html>
