#logo {
  color: green;
}
#banner-image {
  width: 100vw;
}
header .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px 25px;
  font-family: 'Roboto Mono', monospace;
}
header {
  position: relative;
  text-align: center;
  color: green;
}
#fake-link {
  cursor: pointer;
}
.card {
  margin: 0 auto;
}
footer {
  padding: 15px 50px;
}
.mini-header {
  padding: 15px 0;
}
#form-container {
  padding: 50px 100px;
  background-color: #f8f9fa;
}
#form-output {
  background-color: white;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  padding: 1rem;
}
#form-output ul {
  margin-bottom: 0;
}
